$color: #AA0601;
$secondary:#650300;
$link:white;
$fz4:20px;
$fz2:$fz4*2.4;
$fz3:$fz4*1.2;
$fz5:$fz4/1.25;
$space:8px;
$hover:yellow;

.container{
  max-width: 1320px;
  margin: 0 auto;
}
*,*::after,*::before{
  box-sizing: border-box;
}
.mr48{
  margin-right: 48px;
}
.mr32{
  margin-right: 32px;
}
.mt80{
  margin-top: 80px;
}
.mb72{
  margin-bottom: 72px;
}
.mb80{
  margin-bottom: 80px;
}
.mb48{
  margin-bottom: 48px;
}
.mb24{
  margin-bottom: 24px;
}
.mb16{
  margin-bottom: 16px;
}

.p80{
  padding: 80px 0;
} 
.p16 {
  padding: 16px;
}
.base{
  font-family: 'Noto Sans TC', sans-serif;
  box-sizing: border-box;
}
.bgcolor{
  background-color: $color;
}
.primary{
  color: $color;
}
.secondary{
  color: $secondary;
}
.fwbold{
  font-weight: bold;
}
.fsitalic{
  font-style: italic;
}
img{
  display: block;

}
a{
  text-decoration: none;
  color: $link;
}
.entext{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.text2{
  font-size: $fz2;
  line-height: $fz2*1.5;
}
.text3{
  font-size: $fz3;
  line-height: $fz3*1.5;
}
.text4{
  font-size: $fz4;
  line-height: $fz4*1.5;
}
.text5{
  font-size: $fz5;
  line-height: $fz5*1.5;
}

.header {
  display: block;  
}

.logo img{
  padding: 16px 0;
  max-width: 80px;
}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 12px;
}
.menu ul{
display: flex;
padding: 25px 0;
.nav1 a{
  color: $link;
   padding: 32px;
 }
 .nav2 a{
 color: $link;
   padding: 0 0 0 32px ;
 }
 a:hover{
  color: $hover;
 }
}


@media (max-width: 992px) {
  .mb-container{
  max-width: 992px;
  margin: 0 auto;
  padding: 0px 36px;
}
}
//手機
@media (max-width: 767px) {

  .header {
    display: block;

  }
  .mb-container{
    max-width: 767px;
    margin: 0 auto;
    padding: 0px 0px;
      }
 
  .logo{
    // padding: 4px 0;
    max-width: 20%;
    margin: auto;
  }
  .menu{
    margin: auto;
    flex-direction: column;
    align-items: center;
  }
  .menu ul{
    display: flex;
    width: 100%;
    text-align: center;
    flex-wrap: wrap; 
    padding: 0px 0px;
    }
    .menu li{
      width: 49.4%;
      padding: 12px 0px;
 border: 1px solid rgb(255, 255, 255);
  }
    .nav1 a{
      color: $link;
      padding: 0px;
    }
    .nav2 a{
      padding: 0px;
      }
   
    .text4{
      font-size: $fz5;
      line-height: $fz5*1.5;
    }

}
.footer{
  display: block;
  padding: 48px 0px 32px;
  a{
    color: $link;
  }
  a:hover{
    color: $hover;
   }
}

.info{
  display: flex;
  justify-content: space-between;
}
.footermenu li{
display: inline-block;
}
.contact img{
display: inline;
width: 48px;
vertical-align: middle;
margin-right: 16px;
}
.contact{
  font-size: 36px;
  line-height: 54px;
  margin: 35px 0 32px;
}
.sider li{
  display: inline-block;
  vertical-align: middle;
}
.sider img{
  width: 48px;
}
.btbar{
  border-top: 1px solid #FFFFFF;
  display: flex;
  justify-content: space-between;
  color: $link;
  padding-top: 32px;
}
.btbar li{
display: inline-block;
font-family: 'Roboto', sans-serif;;
font-size: 14px;
line-height: 24px;
}
.btbar p{
  font-family: 'Roboto', sans-serif;
}
//平板
@media (max-width: 992px) {
  .footer{
    display: block;
    padding: 56px 0px 40px;
  }
  .mbcontainer2{
    max-width: 992px;
    margin: 0 36px;
  }
   .contact{
    font-size: 36px;
    line-height: 54px;
    margin: 32px 0 18px;
   }
   .sider img{
    max-width: 40px;
  }
  .contact li{
padding-bottom: 14px;
  }
  .mr32{
    margin-right: 16px;
  }
  .btbar{
    border-top: 1px solid #FFFFFF;
    display: flex;
    justify-content: space-between;
    color: $link ;
    padding-top: 32px;
  }

}
//手機
@media (max-width: 767px) {
  .footer{
    display: block;
    padding: 24px 0px 16px;
  }
  .mbcontainer2{
    max-width: 767px;
    margin: 0 13px;
  }
 .footermenu{
  display: none;
 }
 .contact{
  font-size: 16px;
  line-height: 24px;
  margin: 0px 0 24px;
 }
 .sider img{
  max-width: 24px;
}
.contact img{
  max-width: 24px;
}
.mr32{
  margin-right: 8px;
}
.btbar{
  border-top: 1px solid #FFFFFF;
  display: flex;
  flex-direction: column;
  color: $link ;
  padding-top: 16px;
}
.btbar li{
  display: block;
  font-family: 'Roboto', sans-serif;;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
  }
  .btbar p{
    margin-bottom: 8px;
  }
    
}
.box {
  width: 100px;
  height: 100px;
  background-color: $color;
  display: flex;
  transition: all 0.5s;
  &:hover {
    width: 200px;
    background-color: $color;
  }
}